[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
bleak = "*"
numpy = "*"
rpi_ws281x = "*"


[dev-packages]
isort = "*"
black = "*"

[requires]
python_version = "3.11" ##"3.9"
python_full_version = "3.11.2" ##""3.9.18"
